*.pyc
.idea
__pycache__
*.swp
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
htmlcov/
.coverage

# Windows
Thumbs.db

# Sphinx documentation build directories.
_build
_static
_templates
